################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section2/.vs/Section2/v15/Server/sqlite3/storage.ide-shm
